
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    font-size: 30px;
  }
  
  .top-left {
    padding: 10px;
    float: left;
  }

  .top-right {
    padding: 10px;
    float: right;
  }
  